.contorno{
	stroke:green;
	stroke-width:2;
	fill:transparent;
}
.borrar{
	width:100%;
    height:100%;
    fill:white;
}
.contornoR{
	stroke:green;
	stroke-width:1;
	fill:transparent;
}
